body {
    background-color: black;
}
.awssld {
    --slider-transition-duration: 100ms !important;
}

.awssld.awssld--organic-arrows{
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    height:700px;
}

.threeColumns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: black;
}

.metadata{
    flex: 25%;
    height: calc(100% - 40px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 20px;
}

.title {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.react-json-view {
    width: 100%;
    flex: auto
}
.img{
    flex: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.img .title {
    color: white;
    padding: 20px 20px 0 20px;
}
.imgRow {
    height: calc(100% - 50px);
    width: 100%;
}
.plot{
    flex: 25%;
    height: calc(100% - 40px);
    padding: 20px;
    background-color: white;
    color: black;
}
