body {
    background-color: black;
}
#root {
    width: 100%;
    height: 100%;
}
.sliderContainer {
    padding: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
}
.awssld {
    --slider-transition-duration: 200ms !important;
    --organic-arrow-thickness: 6px;
    --organic-arrow-border-radius: 30px;
    --organic-arrow-height: 20px;
    --control-button-width: 2%;
}

.awssld.awssld--organic-arrows{
    width: 100%;
    height: calc(100% - 60px);
}
.awssld__bullets button{
    padding: 0 8px !important;
    display: none;
}

.threeColumns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: black;
}

.metadata{
    flex: 25%;
    width: 25%;
    height: calc(100% - 40px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    padding: 20px;
}

.title {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.react-json-view {
    width: 100%;
    height: calc(100% - 90px);
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.img{
    flex: 50%;
    width: 50%;
    background-color: #8c8c8c;
    display: flex;
    flex-direction: column;
}
.img .title {
    color: white;
    padding: 20px 20px 0 20px;
}
.imgRow {
    height: calc(100% - 50px);
    width: 100%;
}
.plot{
    flex: 25%;
    width: 25%;
    height: calc(100% - 40px);
    padding: 20px;
    background-color: white;
    color: black;
}
.navRow {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 100000;
    width: 100%;
}

.navArrow {
    font-size: 30px;
    line-height: 40px;
    cursor: pointer;
    margin: 0 5px;
}

.navInput {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    width: 60px;
    text-align: center;
    padding: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.totalPage {
    margin-left: 5px;
    font-size: 20px;
    line-height: 30px;
}
